<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Details</title>
    <script>
        function checkAll(){
	        var k = document.getElementsByClassName("check");
	        if(document.getElementById("All").checked == true){
		        for(var ki = 0;ki<k.length;ki++){
			        k[ki].disabled=true;
		        }
	        }
	        else{
		        for(var ki = 0;ki<k.length;ki++){
			        k[ki].disabled=false;
		        }
	        }
        }
    </script>
</head>
<body>
    <form action="{{ url_for ('front_end') }}" method="post">
        <div class="validation">
            <input type="checkbox" id="All" name="All" onchange="checkAll()">
            <label for="All"> Select All </label><br>
            <input class="check" type="checkbox" id="Name" name="Name">
            <label for="Name"> Name </label><br>
            <input class="check" type="checkbox" id="Id" name="Id">
            <label for="Id"> Id </label><br>
            <input class="check" type="checkbox" id="Token" name="Token">
            <label for="Token"> Token </label> <br><br>
        </div>
        <div class="login_bt">
            <input type="submit" value="submit">
        </div>
    </form>
</body>
</html>