<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users Details</title>
    <style>
        table, th, td {
          border: solid black;
          padding: 10px;
        }
        table{
            margin-left:auto;
            margin-right:auto;
        }
        .logout_bt{
            position : absolute;
            left : 700px;
        }
    </style>
</head>
<body>
<table style="width:40%">
  <tr>
    {% for key in keys %}
        <th>{{key}}</th>
    {% endfor %}
  </tr>
    {% for dict in users %}
    <tr>
        {% for key in keys %}
            <td>{{dict[key]}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table> <br><br>
<form action="{{ url_for('home')}}">
        <button class="logout_bt">
            <input type="submit" value="Back to Home Screen">
        </button>
</form>
</body>
</html>